doctype html
html(lang="ru")
  head
    title Demandware Test System
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css")
    link(rel="stylesheet", href="/style/style.css")
    
    script(src="http://code.jquery.com/jquery-latest.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js")
    
    body.bodyWithFooter
      header.headerBlc
        nav
          .nav-wrapper
            a.brand-logo.right(href="/")
              img(src="/img/dw_logo.png")
            a.button-collapse(href="#", data-activates="mobile-menu")
              i.material-icons menu
            ul#nav-mobile.left.hide-on-med-and-down
              li
                a(href="/") My profile
              li
                a(href="/tests") Tests
              li
                a(href="/users") Users
              li
                a(href="/logout") 
                  i.material-icons input
            ul.side-nav(id="mobile-menu")
              li
                a(href="/") 
                  i.material-icons grade
                  | My profile
              li
                a(href="/tests")
                  i.material-icons description
                  | Tests
              li
                a(href="/users") 
                  i.material-icons contacts
                  | Users
              li
                a(href="/logout") 
                  i.material-icons input
                  | Logout
      block body
      
      footer.page-footer.footerBlc
        .container
          .row
            .col.l6.s12
              h3.white-text Testing System
              p.white-text Testing System for students "epam", specializations - Demandware 
            .col.l4.offset-l2.s12
              ul.footerLinks
                li
                  a(href="/") My profile
                li
                  a(href="/tests") Tests
                li
                  a(href="/users") Users
        .footer-copyright
          .container © 2017 Copyright Meline
      block scripts
      script(src="/js/index.js")
      
          
